<div class="container">
    <div class="row">
      <div class="col-md-6"><h1>Welcome NAME FROM SESSION</h1></div>
      <div class="col-md-6"><a href="#">Logout</a></div>
    </div>
    <div class="container">
      <form class="form-control" method="post">
        <div class="form-control">
          <label for="name">Name: </label>
          <input type="text" name="name" placeholder="Enter name here">
        </div>
        <div class="form-control">
            <label for="amount">Amount: </label>
            <input type="text" name="amount" placeholder="Enter amount here">
          </div>
        <button class="btn btn-primary">Start Recipe</button>
      </form>
    </div>
  </div>