<div class="container">
    <div class="row">
      <div class="col-md-6"><h1>Welcome NAME FROM SESSION</h1></div>
      <div class="col-md-6"><a href="#">Logout</a></div>
    </div>
    <div class="container">
      <h4>RECIPE NAME BY CHEF</h4>
      <table class="table">
        <thead>
          <tr>
            <td>Ingredient</td>
            <td>Amount</td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <p><a href="#"><button>Edit Recipe</button></a> | <a href="#"><button>Return to Recipies</button></a></p>
    </div>
  </div>